accelerate==1.11.0
pycocotools
matplotlib
datasets
peft==0.17.0
qwen_vl_utils
wandb
transformers==4.57.1
tokenizers>=0.21.0,<0.23.0
deepspeed==0.18.1
pycocotools
trl==0.23.1
flash-attn==2.7.4.post1
scikit-image
PyYAML>=5.4
openai
spacy
autoawq==0.2.9
